# Data Analytics Notebook <br />  <hr style="border:4.5px solid #108999"> </hr>

In [4]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [6]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [7]:
myindex = ['CA','NY','AZ','TX']
mycolumns = ['Jan','Feb','Mar']

In [8]:
df = pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)

In [9]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

> But you don;t need to explicity define index or columns could do so as long as the order is kept

In [16]:
df = pd.DataFrame(mydata,myindex,mycolumns)
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63